<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    /* The container of each option */
    .color-option {
        display: inline;
        position: relative;
        margin: 5px 15px 5px 15px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* The container of all options */
        .color-picker {
        margin: 10px 0px 10px 0px;
    }

    /* Hide the browser's default radio button */
    .color-option input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid #e6e3e3;
    }

    /* Style the indicator (dot/circle) when checked */
    .color-option input:checked ~ .checkmark {
        margin-right: 5px;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        border: 1px solid rgba(81, 203, 238, 1);
    }

    /* Style the indicator (dot/circle) */
    .color-option .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }

</style>

<body class="fixed-bottom-padding">

    <nav aria-label="breadcrumb" class="breadcrumb mb-0">
        <div class="container">
            <ol class="d-flex align-items-center mb-0 p-0">
                <li class="breadcrumb-item"><a href="#" class="text-success">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product details</li>
            </ol>
        </div>
    </nav>

    <section class="py-4 osahan-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="recommend-slider mb-3">
                        <% if(productDetails.cover1Image) { %>
                            <div class="osahan-slider-item">
                                <img src="<%= productDetails.cover1ImagePath %>" class="img-fluid mx-auto shadow-sm rounded" alt="Responsive image" style="max-height: 500px !important">
                            </div>
                        <% } %>
                        <% if(productDetails.cover2Image) { %>
                            <div class="osahan-slider-item">
                                <img src="<%= productDetails.cover2ImagePath %>" class="img-fluid mx-auto shadow-sm rounded" style="max-height: 500px !important" alt="Responsive image">
                            </div>
                        <% } %>
                        <% if(productDetails.cover3Image) { %>
                            <div class="osahan-slider-item">
                                <img src="<%= productDetails.cover3ImagePath %>" class="img-fluid mx-auto shadow-sm rounded" style="max-height: 500px !important" alt="Responsive image">
                            </div>
                        <% } %>
                    </div>
                    <div class="pd-f d-flex align-items-center mb-3">
                        <button onclick="addToCart('+<%= productDetails.productId %>')" class="btn btn-warning p-3 rounded btn-block d-flex align-items-center justify-content-center mr-3 btn-lg">
                        <i class="icofont-plus m-0 mr-2"></i> ADD TO CART</button>
                        <a href="/cart" class="btn btn-success p-3 rounded btn-block d-flex align-items-center justify-content-center btn-lg m-0"><i class="icofont-cart m-0 mr-2"></i> BUY NOW</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-4 bg-white rounded shadow-sm">
                        <div class="pt-0">
                            <h2 class="font-weight-bold"><%= productDetails.name %> </h2>
                            <p class="font-weight-light text-dark m-0 d-flex align-items-center"> Product MRP : 
                                <% if( productDetails.promo != "" ) { %> 
                                    <b class="h6 text-dark m-0"> Rs. <del> <%= productDetails.price %>.00 </del> &nbsp;<span class="text-success"><%= productDetails.subPrice %></span> </b>
                                    <span class="badge badge-danger ml-2"><%= productDetails.promo %> % OFF </span>
                                <% } else { %> 
                                    <b class="h6 text-dark m-0"> Rs. <%= productDetails.price %>.00 </b>
                                <% } %>
                            </p>

                            <!-- <del>  -->
                                <a href="review.html">
                                    <div class="rating-wrap d-flex align-items-center mt-2">
                                        <ul class="rating-stars list-unstyled">
                                            <li>
                                                <i class="icofont-star text-warning"></i>
                                                <i class="icofont-star text-warning"></i>
                                                <i class="icofont-star text-warning"></i>
                                                <i class="icofont-star text-warning"></i>
                                                <i class="icofont-star"></i>
                                            </li>
                                        </ul>
                                        <p class="label-rating text-muted ml-2 small"> (245 Reviews)</p>
                                    </div>
                                </a>
                            <!-- </del>     -->
                        </div>

                        <!--   P r o d u c t    S i z e s    -->
                            <div class="pt-2">
                                <div class="row">
                                    <% if (productDetails.productSizes.length > 0) { %>
                                        <div class="col-6">
                                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                <% productDetails.productSizes.forEach( (size, i) => { %> 
                                                    <option value="<%= size %>">Size: <%= size %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    <% } %>
                                </div>
                            </div>

                            <!--   P r o d u c t   C o l o r s    -->
                            <div class="pt-2">
                                <% if (productDetails.productColors.length > 0) { %>
                                    <div class="row">
                                        <h6 style="line-height: 0%;">Color Family</h6>
                                    </div>
                                    <div class="row">
                                        <div id="example" class="color-picker" id="productColorSelected">
                                        <% productDetails.productColors.forEach( (color, i) => { %> 
                                            <label class="color-option">
                                                <input class="color-radio" type="radio" checked="checked" name="radio" value="<%= color %>">
                                                <span class="checkmark"></span>
                                            </label>
                                        <% }) %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>

                            <div class="details">
                                <div class="pt-3 bg-white">
                                    <h6>Quantity</h6>
                                    <div class="d-flex align-items-center">
                                        <a class="" href="#">
                                            <form id='myform' class="cart-items-number d-flex" method='POST' action='#'>
                                                <input type='button' class='qtyminus quantity1 btn btn-success btn-sm'  value='-' onclick="addToCart('-<%= productDetails.productId %>')" />
                                                <input type='text' name='quantity' id="p_quantity0"  class='qty form-control' value='1' readonly/>
                                                <input type='button' class='qtyplus quantity1 btn btn-success btn-sm' value='+' onclick="addToCart('+<%= productDetails.productId %>')" />
            
                                                <!-- <input type='button' value='-'  onclick="addToCart('-<%= productDetails.productId %>')" class='qtyminus btn btn-success btn-sm' field='quantity' />
                                                <input type='text' name='quantity' value='1' class='qty form-control' />
                                                <input type='button' value='+' onclick="addToCart('+<%= productDetails.productId %>')" class='qtyplus btn btn-success btn-sm' field='quantity' /> -->
                                            </form>
                                        </a>
                                    </div>
                                </div>

                                <% if(productDetails.specs.length > 5) { %> 
                                    <div class="pt-3">
                                        <div style="overflow-y: scroll; max-height: 300px;">
                                            <h5 class="font-weight-bold mb-2">Product Details</h5>
                                            <p class="text-muted small mb-0" id="d128"><%- productDetails.specs %></p>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
        
                        </div>
                    </div>
                </div>


            <!--        Maybe You Like this         -->
            <h5 class="mt-3 mb-3">Maybe You Like this.</h5>
            <div class="row">
                <%  if(typeof relatedProducts != "undefined") {
                    relatedProducts.forEach( (item, i) => { 
                        if ( i < 4) { %> 
                            <div class="col-sm-3 col-md-3 mb-3">
                                <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                    <div class="list-card-image">
                                        <a href="/product-detail/<%= item.productId %>" class="text-dark">
                                            <% if (item.promo != ""){ %>
                                            <div class="member-plan position-absolute">
                                                    <span class="badge m-3 badge-danger"><%= item.promo%>%</span></div>
                                                <% } %>
                                            <div class="p-3">
                                                <img src="<%= item.cover1ImagePath %>" alt="img-<%= i %>" class="img-fluid item-img w-100 mb-3">
                                                <h6><%= item.name %></h6>
                                                <div class="d-flex align-items-center">
                                                    <% if (item.promo != ""){ %>
                                                        <b class="h6 text-dark m-0"> Rs. <del> <%= item.price %>.00 </del> &nbsp;<span class="text-success"><%= item.subPrice %></span> </b>
                                                    <% } else { %> 
                                                        <h6 class="price m-0 text-success">Rs. <%= item.price %></h6>
                                                    <% } %>
                                                    <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1" class="btn btn-success btn-sm ml-auto">+</a>
                                                    <div class="collapse qty_show" id="collapseExample1">
                                                        <div>                              
                                                            <span class="ml-auto" href="#">
                                                                <form id='myform' class="cart-items-number d-flex" method='POST' action='#'>
                                                                    <input type='button' value='-' class='qtyminus btn btn-success btn-sm'  onclick="addToCart('-<%= item.productId %>')"/>
                                                                    <input type='text' name='quantity' value='1' class='qty form-control' readonly/>
                                                                    <input type='button' value='+' class='qtyplus btn btn-success btn-sm'  onclick="addToCart('+<%= item.productId %>')"/>
                                                                </form>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    <% } }) } %>


                    <% if(typeof recomendedItems != "undefined") {
                        recomendedItems.forEach( (item, i) => { 
                            if ( (i) < (8 - relatedProducts.length)) { %>
                                <div class="col-sm-3 col-md-3 mb-3">
                                    <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                        <div class="list-card-image">
                                            <a href="/product-detail/<%= item.productId %>" class="text-dark">
                                                <% if ( item.promo.length > 0){ %>
                                                    <div class="member-plan position-absolute">
                                                        <span class="badge m-3 badge-danger"><%= item.promo%>%</span>
                                                    </div>
                                                <% } %>
                                                <div class="p-3">
                                                    <img src="<%= item.image %>" alt="img-<%= i %>" class="img-fluid item-img w-100 mb-3">
                                                    <h6><%= item.name %></h6>
                                                    <div class="d-flex align-items-center">
                                                        <% if ( item.promo != ""){ %>
                                                            <b class="h6 text-dark m-0"> Rs. <del> <%= item.price %>.00 </del> &nbsp;<span class="text-success"><%= item.subPrice %></span> </b>
                                                        <% } else { %> 
                                                            <h6 class="price m-0 text-success">Rs. <%= item.price %></h6>
                                                        <% } %>
                                                        <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1" class="btn btn-success btn-sm ml-auto">+</a>
                                                        <div class="collapse qty_show" id="collapseExample1">
                                                            <div>                              
                                                                <span class="ml-auto" href="#">
                                                                    <form id='myform' class="cart-items-number d-flex" method='POST' action='#'>
                                                                        <input type='button' value='-' class='qtyminus btn btn-success btn-sm' onclick="addToCart('-<%= item.productId %>')" />
                                                                        <input type='text' name='quantity' value='1' class='qty form-control' readonly/>
                                                                        <input type='button' value='+' class='qtyplus btn btn-success btn-sm' onclick="addToCart('+<%= item.productId %>')" />
                                                                    </form>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                    <% } }) } %>
                
            </div>
        </div>
    </section>

</body>

<script>
        /* ================================================== */
        /*                     Add to cart                     */
        /* ================================================== */
        function addToCart(itemId) {
            let product = {}
            // if(itemId[0] == "+"){
            //     id1 = itemId.split("+")
                product = {
                    Id : itemId, quantity: 1
                }
            // } 
            console.log(product);
            
            if (localStorage.getItem("product") === null) { a = [product]; return localStorage.setItem('product', JSON.stringify(a)); }
            a =  JSON.parse(localStorage.getItem("product"))
            temp = itemId.toString
            a = JSON.parse(localStorage.getItem("product"))
            for (let [key, value] of Object.entries(a)) {
                if(value.Id == product.Id ){
                    // alert("value.quantity" + value.quantity)
                    if(parseInt(value.quantity + product.quantity) >= 0){
                        // console.log("found")
                        // console.log(key)
                        a[key].quantity = parseInt(value.quantity + 1)
                        localStorage.setItem('product', JSON.stringify(a)); 
                        // alert('Added to cart')   
                        return true;
                    }else{
                        return true;
                    }
                }
            }
            a.push(product)
            return localStorage.setItem('product', JSON.stringify(a));            
        }
</script>

<script>
    // gives the option the color of it's value
    $(".color-option").each(function() {
        $(this).children().eq(1).css("background-color", $(this).children().eq(0).val());
    });

    // Uses jquery to retrieve the selected color
    function getValue(){
        $("#color-result").html($('input[name=radio]:checked').val());
    }
</script>
